@import "compass";
@mixin hover_color {
	background-color: #6699cc;
	color: #fff;
}
@mixin pie {
	behavior: url("/PIE.htc");
	position: relative;
}
@mixin btn_hover{
	background-color: #6699cc;
	color: #fff;
}
@mixin radius10{
  @include border-radius(10px);
	@include pie;
}
@mixin c1{width:8.33%;}
@mixin c2{width:16.66%;}
@mixin c3{width:25%;}
@mixin c4{width:33.33% !important;}
@mixin c5{width:41.66%;}
@mixin c6{width:50%;}
@mixin c7{width:58.33%;}
@mixin c8{width:66.66% !important;}
@mixin c9{width:75%;}
@mixin c10{width:83.33%;}
@mixin c11{width:91.66%;}
@mixin c12{width:100%; min-height:1px; float:left; position:relative;}
@mixin c1-5{width:20%;}
@mixin c1-8{width:12.5%;}