@import "compass";
.radius3{
  @include border-radius(3px);
	@include pie;
}
.radius5{
  @include border-radius(5px);
	@include pie;
}
.radius20{
  @include border-radius(20px);
	@include pie;
}
.radius10{
  @include border-radius(10px);
	@include pie;
}
.circle{
  @include border-radius(50%);
	@include pie;
}
.open.grd{
	@include background-image(linear-gradient(#333, #111));
	@include pie;
}
.bg_black{
	background-color: #222;
}
.bg_green{
	background-color: #2fbdb8;
}
.bg_white{
	background-color: #fff;
}
.circle20{
	height: 20px;
	width: 20px;
	line-height: 20px;
}
/* ---- float ---- */
.right{
	float: right;
}
.left{
	float: left;
}
/* ---- text ---- */
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: right;
}
/* ---- font ---- */
.font-10{
	font-size: 10px;
}
.font-11{
	font-size: 11px;
}
.font-12{
	font-size: 12px;
}
.font-13{
	font-size: 13px;
}
.font-14{
	font-size: 14px;
}
.font-15{
	font-size: 15px;
}
/* ---- margin ---- */
.mgn-0{
	margin: 0;
}
.mgn-t-0{
	margin-top: 0;
}
.mgn-t-10{
	margin-top: 10px;
}
.mgn-t-15{
	margin-top: 15px;
}
.mgn-t-20{
	margin-top: 20px;
}
.mgn-t-25{
	margin-top: 25px;
}
.mgn-t-30{
	margin-top: 30px;
}
.mgn-t-35{
	margin-top: 35px;
}
.mgn-t-40{
	margin-top: 40px;
}
.mgn-r-0{
	margin-right: 0;
}
.mgn-r-5{
	margin-right: 5px
}
.mgn-r-10{
	margin-right: 10px
}
.mgn-r-15{
	margin-right: 15px
}
.mgn-r-20{
	margin-right: 20px;
}
.mgn-r-25{
	margin-right: 25px;
}
.mgn-r-30{
	margin-right: 30px;
}
.mgn-r-35{
	margin-right: 35px;
}
.mgn-r-40{
	margin-right: 40px;
}
.mgn-b-0{
	margin-bottom: 0;
}
.mgn-b-5{
	margin-bottom: 5px;
}
.mgn-b-10{
	margin-bottom: 10px;
}
.mgn-b-15{
	margin-bottom: 15px;
}
.mgn-b-20{
	margin-bottom: 20px;
}
.mgn-b-25{
	margin-bottom: 25px;
}
.mgn-b-30{
	margin-bottom: 30px;
}
.mgn-l-0{
	margin-left: 0;
}
.mgn-l-5{
	margin-left: 5px;
}
.mgn-l-10{
	margin-left: 10px;
}
.mgn-l-15{
	margin-left: 15px;
}
.mgn-l-20{
	margin-left: 20px;
}
.mgn-l-25{
	margin-left: 25px;
}
.mgn-l-30{
	margin-left: 30px;
}
/* ---- padding ---- */
.pdg-0{
	padding:0;
}
.pdg-10{
	padding:10px;
}
.pdg-20{
	padding:20px;
}
.pdg-t-0{
	padding-top: 0;
}
.pdg-t-5{
	padding-top: 5px;
}
.pdg-t-10{
	padding-top: 10px;
}
.pdg-t-15{
	padding-top: 15px;
}
.pdg-t-20{
	padding-top: 15px;
}
.pdg-t-40{
	padding-top: 40px;
}
.pdg-r-0{
	padding-right: 0;
}
.pdg-r-5{
	padding-right: 5px;
}
.pdg-r-10{
	padding-right: 10px;
}
.pdg-r-15{
	padding-right: 15px;
}
.pdg-r-20{
	padding-right: 20px;
}
.pdg-b-0{
	padding-bottom: 0;
}
.pdg-b-10{
	padding-bottom: 10px;
}
.pdg-b-15{
	padding-bottom: 15px;
}
.pdg-b-20{
	padding-bottom: 20px;
}
.pdg-b-25{
	padding-bottom: 25px;
}
.pdg-b-30{
	padding-bottom: 30px;
}
.pdg-b-35{
	padding-bottom: 35px;
}
.pdg-b-40{
	padding-bottom: 40px;
}
.pdg-b-45{
	padding-bottom: 45px;
}
.pdg-b-50{
	padding-bottom: 50px;
}
.pdg-l-0{
	padding-left: 0;
}
.pdg-l-5{
	padding-left: 5px;
}
.pdg-l-10{
	padding-left: 10px;
}
.pdg-l-15{
	padding-left: 15px;
}
.pdg-l-20{
	padding-left: 20px;
}
.pdg-l-80{
	padding-left: 80px;
}
/* ---- percent ---- */
.par45{
	width: 45%
}
.par55{
	width: 55%
}
.balloon {
    color: #FFFFFF;
    float: left;
    line-height: 100%;
    padding: 5px 0 5px 15px;
    position: relative;
    width: 100%;
    li{
    	float: left;
    	&.right{
    		float: right;
    	}
    	a.more{
				color: #222;
				font-size: 12px;
				padding:2px 15px;
				margin-right: 5px;
				&:hover{
					@include hover_color;
					@include pie;
				}
				i{
					margin-right: 5px;
				}
    	}
	  }
}
.arrow{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 8px 20px 8px;
	border-color: transparent transparent #222222 transparent;
	-moz-transform: skewX(-30deg);
	-webkit-transform: skewX(-30deg);
	position: relative;
	left: 30px;
}
.frame {
	position: relative;
	padding: 10px;
	width: 100%;
}
.frame:after { /* この要素が内向きのシャドウを写真に落とす */
	position: absolute;
	display: block;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.0),
	inset 0 0 10px rgba(0, 0, 0, 0.1);
}

